.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4ce48;
  min-height: 100vh;
  width: 100%;
}

.error404__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
  width: 100%;
}
.error404__title {
  font-size: 12.5rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
}
.error404__subtitle {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}
